/* La parte generale della scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* La parte che si muove (il "pollice") */
::-webkit-scrollbar-thumb {
  background-color: greenyellow;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgb(0, 187, 28);
}

/* Parte di sfondo della scrollbar */
::-webkit-scrollbar-track {
  background: rgb(73, 73, 73);
}

body {
  background-color: black;
}

@keyframes startall {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.appear {
  animation: startall 2s;
}
