<nav
  class="bg-black text-white text-[0.5rem] md:text-sm flex p-5 md:justify-center items-center gap-5 fixed w-full z-50 bg-opacity-50 appear"
>
  <div class="cursor-pointer hover:text-red-500 hover:font-bold" routerLink="/">
    menu iniziale
  </div>
  <div>regolamento</div>
  <div>inizia partita</div>
  <app-deck
    [deckImg]="deckImg"
    (toggleChange)="toggleChange($event)"
  ></app-deck>
  <img
    src="services/logo.png"
    alt="logo"
    class="absolute h-2/3 end-5 rounded-full"
  />
</nav>
<app-deckmodal [deckModal]="deckModal"></app-deckmodal>
