<section class="relative">
  <div
    id="#finebattaglia"
    class="bg-black absolute w-full h-full z-40 bg-opacity-50 transition-opacity duration-1000 hidden"
  ></div>
  <app-counters></app-counters>
  <video
    src="video/arena.mp4"
    muted
    loop
    autoplay
    class="h-[100vh] w-[100vw] object-cover object-center"
  ></video>
  <div
    class="absolute flex bottom-0 gap-3 md:gap-10 lg:gap-40 justify-center w-full p-10 h-full items-center md:items-end"
  >
    <app-player
      [battleAnimationPlayer]="battleAnimationPlayer"
      [toggleAnimation]="toggleAnimation"
      (battleAnimationEmit)="battle($event)"
      [playerHp]="playerHp"
      [playerStamina]="playerStamina"
    ></app-player>
    <app-opponent
      [battleAnimationOppoent]="battleAnimationOpponent"
      [toggleAnimation]="toggleAnimation"
      [opponentHp]="opponentHp"
      [opponentStamina]="opponentStamina"
    ></app-opponent>
  </div>
</section>
