<section class="relative">
  <video
    src="video/arena.mp4"
    muted
    loop
    autoplay
    class="h-[100vh] w-[100vw] object-cover object-center"
  ></video>
  <div
    class="absolute top-[50%] -translate-y-[50%] w-full flex items-center justify-center p-10 gap-10 lg:h-[90vh] lg:gap-[10rem]"
  >
    <app-player
      [battleAnimationPlayer]="battleAnimationPlayer"
      [toggleAnimation]="toggleAnimation"
      (battleAnimationEmit)="battle($event)"
    ></app-player>
    <app-opponent></app-opponent>
  </div>
</section>
